<?xml version="1.0" encoding="UTF-8"?>
<suite name="Gmail">

    <listeners>
        <!--<listener class-name="com.example.MyListener" />-->
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
    </listeners>

    <test name="Test">
        <classes>
            <class name="com.nikitchuk.gmail.test.GmailTestSuit"/>
        </classes>
    </test>

</suite>
